<div class="center jumbotron">

  <h1 class="homeTitle">SUBMC Logic Grader</h1>

	<body>
		<h3 class="homeButtons">
		  <%= link_to "Take Quiz", quiz_path, class: "btn btn-lg btn-primary" %>
		  or
		    <%= link_to "Check Proofs", verifier_path, class: "btn btn-lg btn-primary" %>
		</h3>
	</body>
</div>