<div class="center jumbotron">
  <h1>SUBMC Logic Grader</h1>



  <%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
  or
    <%= link_to "Log in", '#', class: "btn btn-lg btn-primary" %>
</div>