/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*QUIZ STYLE*/
ol.question_list{
    margin: 0 auto;
    width: 800px;
    padding: 10px;
}
.question_box{
    background-color: rgb(200,200,255);;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    padding-left: 20px;
}
.question_box p{
    margin: 0 auto;
    text-align: center;
}
li.question{
    text-align: left;
    font-size: 1.3em;
    margin: 10px;
}
/*VERIFIER + EVERYTHING ELSE NOT IN CUSTOM STYLE*/
p.message {
  font-size: .7em;
  margin: 1em;
}
.homeTitle{
    padding-bottom: .5em;
}
.homeButtons a{
    border-radius: 3px;
    margin: .5em;
    margin-bottom: .8em;
    font-size: 1em;
    width: 180px;
}
.checkerTitle{
    padding-bottom: .5em;
}
table{
    text-align: left;
    margin: 0 auto;
    margin-bottom: 20px;
}
input[type=submit] {
    margin-top: 5px;
    padding:5px 20px; 
    font-size: 1.2em;
    background:rgb(100,120,240); 
    color: black;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
}
input[type=submit]:hover {
    background:rgb(160,180,255); 
}
input[type=text] {
    background-color: white;
    padding:5px; 
    border:2px solid black; 
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: left;
}
textarea {
    background-color: white;
    padding:5px; 
    border:2px solid black; 
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: left;
    text-align: left;
    width: 600px;
    height: 200px;
    background-position: top left;
    font-size: 1em;
}
input[type=text]:focus {
    outline: none;
    border-color:rgb(211,211,211);
    -webkit-box-shadow: 0px 0px 4px rgb(211,211,211);
       -moz-box-shadow: 0px 0px 4px rgb(211,211,211);
            box-shadow: 0px 0px 4px rgb(211,211,211);
}
textarea:focus {
    outline: none;
    border-color:rgb(211,211,211);
    -webkit-box-shadow: 0px 0px 6px rgb(211,211,211);
       -moz-box-shadow: 0px 0px 6px rgb(211,211,211);
            box-shadow: 0px 0px 6px rgb(211,211,211);
}
.mid{
    padding: 10px;
}
.labels{
    text-align: center;
}